<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCompleteMenu-ScintillaNET" version="1.6.1" targetFramework="net461" />
  <package id="Fody" version="4.2.1" targetFramework="net47" developmentDependency="true" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net461" />
  <package id="Ookii.Dialogs.WinForms" version="1.0.0" targetFramework="net47" />
  <package id="PropertyChanged.Fody" version="2.6.1" targetFramework="net47" />
  <package id="ScintillaNET_FindReplaceDialog" version="1.0.3.3" targetFramework="net47" />
  <package id="ScintillaNetPrinting" version="1.0.0.1" targetFramework="net461" />
  <package id="ScriptNotepadPluginBase" version="1.0.0.4" targetFramework="net47" />
  <package id="System.Data.SQLite.Core" version="1.0.110.0" targetFramework="net47" />
  <package id="WPFHexaEditor" version="1.6.3" targetFramework="net47" />
  <package id="VPKSof.ConfLib" version="1.0.0.6" targetFramework="net47" />
  <package id="VPKSoft.About" version="1.0.0.5" targetFramework="net47" />
  <package id="VPKSoft.ErrorLogger" version="1.0.0.5" targetFramework="net47" />
  <package id="VPKSoft.LangLib" version="1.0.1.3" targetFramework="net47" />
  <package id="VPKSoft.PosLib" version="1.0.1.1" targetFramework="net461" />
  <package id="VPKSoft.ScintillaLexers" version="1.1.0.1" targetFramework="net47" />
  <package id="VPKSoft.ScintillaTabbedTextControl" version="1.0.3.1" targetFramework="net47" />
  <package id="VPKSoft.SearchText" version="1.0.0.4" targetFramework="net47" />
  <package id="VPKSoft.Utils" version="1.0.3.7" targetFramework="net461" />
  <package id="VPKSoft.VersionCheck" version="1.0.0.1" targetFramework="net461" />
</packages>