<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCompleteMenu-ScintillaNET" version="1.6.1" targetFramework="net47" />
  <package id="Fody" version="5.0.5" targetFramework="net47" developmentDependency="true" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net47" />
  <package id="PropertyChanged.Fody" version="3.0.1" targetFramework="net47" />
  <package id="ScriptNotepadPluginBase" version="1.0.0.5" targetFramework="net47" />
  <package id="VPKSoft.ScintillaLexers" version="1.1.0.5" targetFramework="net47" />
  <package id="VPKSoft.ScintillaTabbedTextControl" version="1.0.3.6" targetFramework="net47" />
  <package id="VPKSoft.SearchText" version="1.0.0.9" targetFramework="net47" />
</packages>